scripts/vdhcoapp-2.0.19/
scripts/git_config.sh
scripts/google.provider
grub-themes/
backups/
backup_latest/home/bnsplit/.tmux/
backup_latest/home/bnsplit/.fonts/
backup_latest/home/bnsplit/Obsidian/
backup_latest/home/bnsplit/.zen/
backup_latest/home/bnsplit/.tmux/plugins/
backup_latest/home/bnsplit/.local/share/
backup_latest/home/bnsplit/.config/*.bak
backup_latest/home/bnsplit/.config/ags/
backup_latest/home/bnsplit/.config/bnsplit/libvirt-vms/
backup_latest/home/bnsplit/.config/kdeconnect/
backup_log.txt
*.sd.tar.gz
*.knsv
_Archives/
