/*
* SCSS solid colors
*/
$s-background: #0F050C;
$s-error: #EECFE3;
$s-error-container: #E5B7D5;
$s-inverse-on-surface: #3F1731;
$s-inverse-primary: #873069;
$s-inverse-surface: #F6E7F1;
$s-on-background: #F6E7F1;
$s-on-error: #DD9FC7;
$s-on-error-container: #F6E7F1;
$s-on-primary: #6F2856;
$s-on-primary-container: #CB6FAB;
$s-on-primary-fixed: #571F44;
$s-on-primary-fixed-variant: #873069;
$s-on-secondary: rgb(111, 40, 86);
$s-on-secondary-container: rgb(203, 111, 171);
$s-on-secondary-fixed: rgb(87, 31, 68);
$s-on-secondary-fixed-variant: rgb(135, 48, 105);
$s-on-surface: #F6E7F1;
$s-on-surface-variant: #DD9FC7;
$s-on-tertiary: #270E1E;
$s-on-tertiary-container: #D487B9;
$s-on-tertiary-fixed: #3F1731;
$s-on-tertiary-fixed-variant: #9F397C;
$s-outline: #B7428F;
$s-outline-variant: #9F397C;
$s-primary: #C3579D;
$s-primary-container: #873069;
$s-primary-fixed: #CB6FAB;
$s-primary-fixed-dim: #C3579D;
$s-scrim: #0F050C;
$s-secondary: rgb(195, 87, 157);
$s-secondary-container: rgb(135, 48, 105);
$s-secondary-fixed: rgb(203, 111, 171);
$s-secondary-fixed-dim: rgb(195, 87, 157);
$s-shadow: #0F050C;
$s-source-color: #C3579D;
$s-surface: #0F050C;
$s-surface-bright: #3F1731;
$s-surface-container: #270E1E;
$s-surface-container-high: #3F1731;
$s-surface-container-highest: #571F44;
$s-surface-container-low: #0F050C;
$s-surface-container-lowest: #0F050C;
$s-surface-dim: #0F050C;
$s-surface-tint: #C3579D;
$s-surface-variant: #9F397C;
$s-tertiary: #D487B9;
$s-tertiary-container: #9F397C;
$s-tertiary-fixed: #D487B9;
$s-tertiary-fixed-dim: #D487B9;

/*
* SCSS xray colors
*/
$x-background: rgba(15,5,12,0.8);
$x-error: rgba(238,207,227,0.8);
$x-error-container: rgba(229,183,213,0.8);
$x-inverse-on-surface: rgba(63,23,49,0.8);
$x-inverse-primary: rgba(135,48,105,0.8);
$x-inverse-surface: rgba(246,231,241,0.8);
$x-on-background: rgba(246,231,241,0.8);
$x-on-error: rgba(221,159,199,0.8);
$x-on-error-container: rgba(246,231,241,0.8);
$x-on-primary: rgba(111,40,86,0.8);
$x-on-primary-container: rgba(203,111,171,0.8);
$x-on-primary-fixed: rgba(87,31,68,0.8);
$x-on-primary-fixed-variant: rgba(135,48,105,0.8);
$x-on-secondary: rgba(111,40,86,0.8);
$x-on-secondary-container: rgba(203,111,171,0.8);
$x-on-secondary-fixed: rgba(87,31,68,0.8);
$x-on-secondary-fixed-variant: rgba(135,48,105,0.8);
$x-on-surface: rgba(246,231,241,0.8);
$x-on-surface-variant: rgba(221,159,199,0.8);
$x-on-tertiary: rgba(39,14,30,0.8);
$x-on-tertiary-container: rgba(212,135,185,0.8);
$x-on-tertiary-fixed: rgba(63,23,49,0.8);
$x-on-tertiary-fixed-variant: rgba(159,57,124,0.8);
$x-outline: rgba(183,66,143,0.8);
$x-outline-variant: rgba(159,57,124,0.8);
$x-primary: rgba(195,87,157,0.8);
$x-primary-container: rgba(135,48,105,0.8);
$x-primary-fixed: rgba(203,111,171,0.8);
$x-primary-fixed-dim: rgba(195,87,157,0.8);
$x-scrim: rgba(15,5,12,0.8);
$x-secondary: rgba(195,87,157,0.8);
$x-secondary-container: rgba(135,48,105,0.8);
$x-secondary-fixed: rgba(203,111,171,0.8);
$x-secondary-fixed-dim: rgba(195,87,157,0.8);
$x-shadow: rgba(15,5,12,0.8);
$x-source-color: rgba(195,87,157,0.8);
$x-surface: rgba(15,5,12,0.8);
$x-surface-bright: rgba(63,23,49,0.8);
$x-surface-container: rgba(39,14,30,0.8);
$x-surface-container-high: rgba(63,23,49,0.8);
$x-surface-container-highest: rgba(87,31,68,0.8);
$x-surface-container-low: rgba(15,5,12,0.8);
$x-surface-container-lowest: rgba(15,5,12,0.8);
$x-surface-dim: rgba(15,5,12,0.8);
$x-surface-tint: rgba(195,87,157,0.8);
$x-surface-variant: rgba(159,57,124,0.8);
$x-tertiary: rgba(212,135,185,0.8);
$x-tertiary-container: rgba(159,57,124,0.8);
$x-tertiary-fixed: rgba(212,135,185,0.8);
$x-tertiary-fixed-dim: rgba(212,135,185,0.8);

/*
* Colors
*/
$s-col-1: #0F050C;
$s-col-2: #270E1E;
$s-col-3: #3F1731;
$s-col-4: #571F44;
$s-col-5: #6F2856;
$s-col-6: #873069;
$s-col-7: #9F397C;
$s-col-8: #B7428F;
$s-col-9: #C3579D;
$s-col-10: #CB6FAB;
$s-col-11: #D487B9;
$s-col-11: #DD9FC7;
$s-col-13: #E5B7D5;
$s-col-14: #EECFE3;
$s-col-15: #F6E7F1;
$s-col-16: #FFFFFF;

$x-col-1: rgba(15,5,12,0.8);
$x-col-2: rgba(39,14,30,0.8);
$x-col-3: rgba(63,23,49,0.8);
$x-col-4: rgba(87,31,68,0.8);
$x-col-5: rgba(111,40,86,0.8);
$x-col-6: rgba(135,48,105,0.8);
$x-col-7: rgba(159,57,124,0.8);
$x-col-8: rgba(183,66,143,0.8);
$x-col-9: rgba(195,87,157,0.8);
$x-col-10: rgba(203,111,171,0.8);
$x-col-11: rgba(212,135,185,0.8);
$x-col-11: rgba(221,159,199,0.8);
$x-col-13: rgba(229,183,213,0.8);
$x-col-14: rgba(238,207,227,0.8);
$x-col-15: rgba(246,231,241,0.8);
$x-col-16: rgba(255,255,255,0.8);
