/*
* SCSS solid colors
*/

$s-background: #1a1111;

$s-error: #ffb4ab;

$s-error-container: #93000a;

$s-inverse-on-surface: #382e2d;

$s-inverse-primary: #904a47;

$s-inverse-surface: #f1dedd;

$s-on-background: #f1dedd;

$s-on-error: #690005;

$s-on-error-container: #ffdad6;

$s-on-primary: #571d1c;

$s-on-primary-container: #ffdad7;

$s-on-primary-fixed: #3b0809;

$s-on-primary-fixed-variant: #733331;

$s-on-secondary: #442928;

$s-on-secondary-container: #ffdad7;

$s-on-secondary-fixed: #2c1514;

$s-on-secondary-fixed-variant: #5d3f3d;

$s-on-surface: #f1dedd;

$s-on-surface-variant: #d8c2c0;

$s-on-tertiary: #402d04;

$s-on-tertiary-container: #ffdea7;

$s-on-tertiary-fixed: #271900;

$s-on-tertiary-fixed-variant: #594319;

$s-outline: #a08c8b;

$s-outline-variant: #534342;

$s-primary: #ffb3ae;

$s-primary-container: #733331;

$s-primary-fixed: #ffdad7;

$s-primary-fixed-dim: #ffb3ae;

$s-scrim: #000000;

$s-secondary: #e7bdb9;

$s-secondary-container: #5d3f3d;

$s-secondary-fixed: #ffdad7;

$s-secondary-fixed-dim: #e7bdb9;

$s-shadow: #000000;

$s-source-color: #f0002a;

$s-surface: #1a1111;

$s-surface-bright: #423736;

$s-surface-container: #271d1d;

$s-surface-container-high: #322827;

$s-surface-container-highest: #3d3231;

$s-surface-container-low: #231919;

$s-surface-container-lowest: #140c0c;

$s-surface-dim: #1a1111;

$s-surface-tint: #ffb3ae;

$s-surface-variant: #534342;

$s-tertiary: #e2c28c;

$s-tertiary-container: #594319;

$s-tertiary-fixed: #ffdea7;

$s-tertiary-fixed-dim: #e2c28c;


/*
* SCSS xray colors
*/

$x-background: rgba(26, 17, 17, 0.8);

$x-error: rgba(255, 180, 171, 0.8);

$x-error-container: rgba(147, 0, 10, 0.8);

$x-inverse-on-surface: rgba(56, 46, 45, 0.8);

$x-inverse-primary: rgba(144, 74, 71, 0.8);

$x-inverse-surface: rgba(241, 222, 221, 0.8);

$x-on-background: rgba(241, 222, 221, 0.8);

$x-on-error: rgba(105, 0, 5, 0.8);

$x-on-error-container: rgba(255, 218, 214, 0.8);

$x-on-primary: rgba(87, 29, 28, 0.8);

$x-on-primary-container: rgba(255, 218, 215, 0.8);

$x-on-primary-fixed: rgba(59, 8, 9, 0.8);

$x-on-primary-fixed-variant: rgba(115, 51, 49, 0.8);

$x-on-secondary: rgba(68, 41, 40, 0.8);

$x-on-secondary-container: rgba(255, 218, 215, 0.8);

$x-on-secondary-fixed: rgba(44, 21, 20, 0.8);

$x-on-secondary-fixed-variant: rgba(93, 63, 61, 0.8);

$x-on-surface: rgba(241, 222, 221, 0.8);

$x-on-surface-variant: rgba(216, 194, 192, 0.8);

$x-on-tertiary: rgba(64, 45, 4, 0.8);

$x-on-tertiary-container: rgba(255, 222, 167, 0.8);

$x-on-tertiary-fixed: rgba(39, 25, 0, 0.8);

$x-on-tertiary-fixed-variant: rgba(89, 67, 25, 0.8);

$x-outline: rgba(160, 140, 139, 0.8);

$x-outline-variant: rgba(83, 67, 66, 0.8);

$x-primary: rgba(255, 179, 174, 0.8);

$x-primary-container: rgba(115, 51, 49, 0.8);

$x-primary-fixed: rgba(255, 218, 215, 0.8);

$x-primary-fixed-dim: rgba(255, 179, 174, 0.8);

$x-scrim: rgba(0, 0, 0, 0.8);

$x-secondary: rgba(231, 189, 185, 0.8);

$x-secondary-container: rgba(93, 63, 61, 0.8);

$x-secondary-fixed: rgba(255, 218, 215, 0.8);

$x-secondary-fixed-dim: rgba(231, 189, 185, 0.8);

$x-shadow: rgba(0, 0, 0, 0.8);

$x-source-color: rgba(240, 0, 42, 0.8);

$x-surface: rgba(26, 17, 17, 0.8);

$x-surface-bright: rgba(66, 55, 54, 0.8);

$x-surface-container: rgba(39, 29, 29, 0.8);

$x-surface-container-high: rgba(50, 40, 39, 0.8);

$x-surface-container-highest: rgba(61, 50, 49, 0.8);

$x-surface-container-low: rgba(35, 25, 25, 0.8);

$x-surface-container-lowest: rgba(20, 12, 12, 0.8);

$x-surface-dim: rgba(26, 17, 17, 0.8);

$x-surface-tint: rgba(255, 179, 174, 0.8);

$x-surface-variant: rgba(83, 67, 66, 0.8);

$x-tertiary: rgba(226, 194, 140, 0.8);

$x-tertiary-container: rgba(89, 67, 25, 0.8);

$x-tertiary-fixed: rgba(255, 222, 167, 0.8);

$x-tertiary-fixed-dim: rgba(226, 194, 140, 0.8);

